<nav class="navbar navbar-inverse no-space-navbar" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
          <a class="nav-link active" href="{{url_for('index')}}">Home</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="{{url_for('study')}}">New Study</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('study_arch')}}">Study List</a>
      </li>
      <li class="nav-item justify-content-center">
        <a class="nav-link disabled" href="{{url_for('about')}}">About</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ current_user.username }}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </li>
      {% else %}
      <li class="nav-item">
          <a class="nav-link active" href="login#">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
